<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}信息反馈{% endblock %}
    </title>
    <link rel="icon" href="{{ static('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/style.css') }}">
</head>
<body>
    <main class="container">
    <header>
    <h1 class="text-center display-4">
        <a href="{{ url('index') }}" class="text-succsee">
            <strong>您的意见</strong>
        </a>
        <small class="text-muted sub-title">我们及时反馈！</small>
    </h1>
    </header>
    {% block content %} {% endblock %}
    </main>
    <script src="{{ static('js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/script.js') }}"></script>
</body>
</html>